{% extends "_layouts/elementindex" %}

{% import "_includes/forms" as forms %}
{% set elementType = 'QD\\commerce\\economic\\elements\\Creditnote' %}
{% set selectedSubnavItem = "creditnotes" %}

{# {% set docsUrl = "https://github.com/lenvanessen/commerce-invoices/blob/master/README.md" %} #}

{% set title = "Creditnotes" %}

{# {% set pluginCpUrl = url('commerce-invoices') %} #}

{# {% set iconUrl = view.getAssetManager().getPublishedUrl('@lenvanessen/commerce/invoices/assetbundles/invoicescpsection/dist', true) ~ '/img/Invoices-icon.svg' %} #}

{# {% set extraPageHeaderHtml %}
	<div class="buttons"> <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('commerce-invoices') }}</a>
</div>
{% endset %} #}

{# {% set content %}<h2>{{ "Invoices CP Section body goes here"|t('commerce-invoices') }}
</h2>
<img src="{{ iconUrl }}" height="64" width="64"/> <p class="textline"></p>
{% endset %} #}
