{% from "_includes/forms" import textField, lightswitchField, selectField, autosuggestField, multiSelectField %}

<div class="flex-fields">
	<div class="field width-50">
		{{ autosuggestField({
			label: "Grant token"|t('commerce-economic'),
			id: 'grantToken',
			class: 'ltr',
			name: 'grantToken',
			suggestEnvVars: true,
			value: settings.grantToken,
			errors: settings.getErrors('grantToken'),
			required: true,
		}) }}
	</div>

	<div class="field width-50">
		{{ autosuggestField({
			label: "Secret token"|t('commerce-economic'),
			id: 'secretToken',
			class: 'ltr',
			name: 'secretToken',
			suggestEnvVars: true,
			value: settings.secretToken,
			errors: settings.getErrors('secretToken'),
			required: true,
		}) }}
	</div>
</div>
