{% import "_includes/forms" as forms %}

<h2>E-conomic / Webshop relations</h2>
<div class="flex-fields">

	<div class="field width-50">
		<div>
			{{ forms.editableTableField({
				label: 'Gateway payment terms',
				instructions: "Connect gateways to a paymentterm.",
				id: 'gatewayPaymentTerms',
				name: 'gatewayPaymentTerms',
				cols: [
					{
						heading : 'Gateway',
						type: 'select',
						options: gateways
					},
					{
						heading : 'Paymentterm',
						type: 'select',
						options: paymentTerms
					},
					{
						heading : 'Invoice layout',
						type: 'select',
						options: layouts
					},
				],
				rows: settings.gatewayPaymentTerms|json_decode
			}) }}
		</div>
	</div>

	<div class="field width-50">
		<div>
			{{ forms.editableTableField({
				label: 'Tax rate setup',
				instructions: "Connext comerce tax rates to vatzones in E-conomic",
				id: 'vatZones',
				name: 'vatZones',
				cols: [
					{
						heading : 'Tax rates',
						type: 'select',
						options: taxrastes
					},
					{
						heading : 'VAT Zones',
						type: 'select',
						options: vatZones
					},
				],
				rows: settings.vatZones|json_decode
			}) }}
		</div>
	</div>

	<div class="field width-50">
		<div>
			{{ forms.editableTableField({
				label: 'Shipping methods setup',
				instructions: "Connect comerce shipping methods to productnumbers in E-conomic",
				id: 'shippingProductnumbers',
				name: 'shippingProductnumbers',
				cols: [
					{
						heading : 'Shippingmethod',
						type: 'select',
						options: shippingmethods
					},
					{
						heading : 'Product number',
						type: 'text',
					},
				],
				rows: settings.shippingProductnumbers|json_decode
			}) }}
		</div>
	</div>
	<div class="field width-50">
		<div>
			{{ forms.textField({
				label: 'Discount productnumber',
				instructions: "Product in E-conomic to be used when discount isn't applied to a specifif product",
				id: 'discountProductnumber',
				name: 'discountProductnumber',
			}) }}
		</div>
	</div>
</div>
<hr>
