<div class="order-flex">
	<div class="spacer"></div>
	<div>
		<a href="/admin/commerce/creditnotes/new/{{order.id}}" class="btn">Create creditnote</a>
	</div>
	<div class="spinner" id="resyncspinner" style="display:none"></div>
	<div class="spacer"></div>
</div>

<style>
	#order-secondary-actions {
		display: flex;
	}
</style>
